In [1]:
import os
path = os.path.abspath(os.path.join('..'))
print(path)
import sys

sys.path.insert(0,path)
print(sys.executable)

/home/scuervo91/dev/dcapy
/home/scuervo91/anaconda3/envs/reservoir/bin/python

In [2]:
from dcapy import dca
from dcapy.schedule import PeriodSchedule, ScenarioSchedule
import numpy as np 
import pandas as pd
from datetime import date

In [3]:
dca1 = dca.Arps(ti=date(2021,2,1), di=0.3, freq_di='A', qi=500, b=0)
dca2 = dca.Arps(ti=0, di=0.3, freq_di='A', qi=500, b=0)

In [4]:
p1 = dict(name='pdp',dca=dca1, start=date(2021,2,1), end=date(2022,1,1))
p2 = dict(name='pdnp',dca=dca2, start=1, end=10)
s1= PeriodSchedule(**p1)
s2= PeriodSchedule(**p2)

In [5]:
ScenarioSchedule(periods=[s1,s2])

ScenarioSchedule(periods=[PeriodSchedule(name='pdp', dca=Declination
 Ti: 2021-02-01
 Qi: 500.0 bbl/d
 Di: 0.3 A
 b: 0.0, start=datetime.date(2021, 2, 1), end=datetime.date(2022, 1, 1), freq_input='M', freq_output='M', rate_limit=None, cum_limit=None, fluid_rate=None, bsw=None, gor=None, glr=None, cashflow=None), PeriodSchedule(name='pdnp', dca=Declination
 Ti: 0
 Qi: 500.0 bbl/d
 Di: 0.3 A
 b: 0.0, start=1, end=10, freq_input='M', freq_output='M', rate_limit=None, cum_limit=None, fluid_rate=None, bsw=None, gor=None, glr=None, cashflow=None)])

In [6]:
s2.forecast()

         rate     cumulative  iteration
1  487.654956   14814.052783          0
2  475.614712   29262.345300          0
3  463.871743   43353.908203          0
4  452.418709   57097.549178          0
5  441.248451   70501.858449          0
6  430.353988   83575.214145          0
7  419.728510   96325.787538          0
8  409.365377  108761.548153          0
9  399.258109  120890.268744          0

In [7]:
per ={
    'name':'pdp',
    'dca':{
        'ti':'2021-01-01',
        'di':0.3,
        'freq_di':'A',
        'qi':[800,500],
        'b':0
    },
    'start':'2021-01-01',
    'end':'2022-01-01'
}
per

{'name': 'pdp',
 'dca': {'ti': '2021-01-01',
  'di': 0.3,
  'freq_di': 'A',
  'qi': [800, 500],
  'b': 0},
 'start': '2021-01-01',
 'end': '2022-01-01'}

In [8]:
PeriodSchedule(**per).forecast()

               rate    cumulative  iteration
2021-01  800.000000  0.000000e+00          0
2021-02  779.873928  7.346016e+05          0
2021-03  762.131092  1.382215e+06          0
2021-04  742.957710  2.082044e+06          0
2021-05  724.862217  2.742529e+06          0
2021-06  706.626430  3.408135e+06          0
2021-07  689.415822  4.036322e+06          0
2021-08  672.071781  4.669380e+06          0
2021-09  655.164075  5.286511e+06          0
2021-10  639.206885  5.868949e+06          0
2021-11  623.125980  6.455902e+06          0
2021-12  607.949111  7.009857e+06          0
2022-01  592.654577  7.568108e+06          0
2021-01  500.000000  0.000000e+00          1
2021-02  487.421205  4.591260e+05          1
2021-03  476.331932  8.638845e+05          1
2021-04  464.348569  1.301277e+06          1
2021-05  453.038885  1.714081e+06          1
2021-06  441.641519  2.130085e+06          1
2021-07  430.884889  2.522702e+06          1
2021-08  420.044863  2.918362e+06          1
2021-09  409.477547  3.304070e+06          1
2021-10  399.504303  3.668093e+06          1
2021-11  389.453738  4.034939e+06          1
2021-12  379.968194  4.381161e+06          1
2022-01  370.409110  4.730067e+06          1